@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Home Page</p>
      <table>
          <tr>
              <td>Product Id</td>
              <td>Product Name</td>
              <td>Product Price</td>
          </tr>
           
              <tr>
                  <td>100</td>
                  <td>Samsumg</td>
                  <td>5890273</td>
              </tr>
            
       
        
      </table>
</div>
