@page
@model RazorPageWebApp.Pages.PDetailsModel
@{
}

<h2> Product Details</h2>
<label>Product Name : </label> &nbsp;&nbsp; <br>@Model.Product.ProductId<br/>

<label>Product Id : </label> &nbsp;&nbsp; <b>@Model.Product.ProductId</b><br/>
<label>Product Price : </label> &nbsp;&nbsp; <b>@Model.Product.Price</b><br/>

